body{
  margin: 0;
  font-family: consolas;
}

input{
  font-size: 20px;
  border: 1px solid;
  padding: 0px 10px;
}

.formElement{
  font-size: 20px;
  padding: 15px 20px;
  display: flow-root;
}

.formLabel{
  float: left;
  margin: 0 10px 10px 0;
}

.formValue{
  float: right;
}

.formValue *{
  display: inline;
}

.formValue input{
  width: 30px;
  height: 30px;
}
